---
import ProjectCard from "../components/ProyectCard.astro";
const projects = [
  {
    title: "Clon de Netflix",
    description:
      "Replica funcional de Netflix utilizando la API de TMDB con más de 45000 películas y 5000 series. Incluye características como un deslizador visual, buscador integrado, paginación optimizada y una sección de detalles con información completa sobre cada contenido: título, sinopsis, calificación, tráiler, elenco y más. Un proyecto ideal para explorar funcionalidades avanzadas en aplicaciones web.",
    imageSrc: "src/assets/544shots_so.png",
    technologies: ["React", "JavaScript", "TailwindCSS", "JSON", "Swiper"],
    githubLink: "src/assets/610shots_so.png",
    liveLink: "https://miwebsite.com/proyecto1",
  },
  {
    title: "E-commerce de Comidas",
    description:
      "Aplicación e-commerce para restaurantes que integra tres APIs diferentes para mostrar cócteles, platos principales y postres. Permite a los usuarios explorar el menú, añadir productos al carrito, marcarlos como favoritos y filtrar por categoría. Un proyecto diseñado para ofrecer una experiencia fluida y atractiva al usuario.",
    imageSrc: "src/assets/684shots_so.png",
    technologies: ["React", "JavaScript", "TypeScript", "JSON", "TailwindCSS"],
    githubLink: "https://github.com/miusuario/proyecto2",
    liveLink: "https://miwebsite.com/proyecto2",
  },
  {
    title: "E-commerce de Supermercado",
    description:
      "Tienda en línea construida con Next.js para aprovechar SSR y CSR, mejorando tanto el SEO como el rendimiento. Ofrece filtrado de productos por precio y categoría, además de una navegación dinámica con detalles individuales para cada artículo. Incluye un carrito de compras totalmente funcional. Próximas mejoras: integración de métodos de pago con Strapi, autenticación segura con NextAuth y Base de datos en SQLite con Prisma ORM.",
    imageSrc: "src/assets/610shots_so.png",
    technologies: ["NextJS", "TypeScript", "TailwindCSS", "Axios", "JSON"],
    githubLink: "https://github.com/miusuario/proyecto3",
    liveLink: "https://miwebsite.com/proyecto3",
  },
  {
    title: "Blog de Usuarios",
    description:
      "Aplicación de blogs desarrollada con React y TypeScript, utilizando Firebase para la autenticación y base de datos en tiempo real. Los usuarios pueden crear, editar y eliminar publicaciones, además de navegar por los blogs de otros usuarios. Incluye una página de usuario personalizada con gestión de publicaciones y cierre de sesión.",
    imageSrc: "src/assets/676shots_so.png",
    technologies: [
      "React",
      "JavaScript",
      "TypeScript",
      "TailwindCSS",
      "Firebase",
    ],
    githubLink: "src/assets/676shots_so.png",
    liveLink: "https://miwebsite.com/proyecto1",
  },
  {
    title: "Landing Page para Empresa de Abogados",
    description:
      "Landing page diseñada para una empresa de abogados, optimizada con Astro para mejorar el SEO y garantizar tiempos de carga rápidos. La página incluye navegación dinámica, permitiendo a los usuarios acceder a diferentes secciones de manera sencilla. Además, se ha integrado un sistema de gestión de formularios en React para facilitar la interacción con los visitantes, como solicitudes de consultas o contacto. Un proyecto enfocado en la eficiencia y la accesibilidad para brindar una experiencia fluida al usuario.",
    imageSrc: "src/assets/269shots_so.png",
    technologies: ["Astro", "React", "TailwindCSS", "TypeScript"],
    githubLink: "https://github.com/miusuario/proyecto3",
    liveLink: "https://miwebsite.com/proyecto3",
  },
  {
    title: "Landing Page Optimizada",
    description:
      "Landing page desarrollada con Astro para garantizar un SEO eficiente y un rendimiento rápido. Las secciones interactivas utilizan React, combinando funcionalidad con diseño atractivo. Ideal para empresas que buscan una presencia web moderna y optimizada.",
    imageSrc: "src/assets/522shots_so.png",
    technologies: ["Astro", "React", "JavaScript", "TailwindCSS"],
    githubLink: "https://github.com/miusuario/proyecto3",
    liveLink: "https://miwebsite.com/proyecto3",
  },
];
---

<section class="projects mt-9">
  <h2 class="text-center text-3xl font-bold mb-8 text-white">Mis Proyectos</h2>
  <div class="flex gap-8 flex-wrap justify-center">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          description={project.description}
          imageSrc={project.imageSrc}
          technologies={project.technologies}
          githubLink={project.githubLink}
          liveLink={project.liveLink}
        />
      ))
    }
  </div>
</section>
